<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2023. ogg. Inc. All Rights Reserved.
  ~ ogg sit down and start building bugs in sunny weather.
  ~ Author: Ogg <baoziyoo@gmail.com>.
  ~ LastChangeTime: 2023-01-13 02:32:51
  ~ ChangeTime: 2023-04-26 10:21:34
  -->

<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuite name="Testsuite">
        <directory>./tests/</directory>
    </testsuite>
</phpunit>
